[submodule "libs/csafestring"]
	path = libs/csafestring
	url = https://github.com/maximilianvoss/csafestring.git
	branch = master
[submodule "libs/romlibrary"]
	path = libs/romlibrary
	url = https://github.com/maximilianvoss/romlibrary.git
[submodule "libs/acll"]
	path = libs/acll
	url = https://github.com/maximilianvoss/acll.git
[submodule "libs/clogger"]
	path = libs/clogger
	url = https://github.com/maximilianvoss/clogger.git
[submodule "libs/chttp"]
	path = libs/chttp
	url = https://github.com/maximilianvoss/chttp.git
