[submodule "libs/csafestring"]
	path = libs/csafestring
	url = https://github.com/maximilianvoss/csafestring.git
	branch = master
[submodule "libs/lexbor"]
	path = libs/lexbor
	url = https://github.com/lexbor/lexbor.git
